<style>
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
</style>

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 100%, 0%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    height: 100vh;
    width: 100%;
    font-size: 1.5rem;
    font-family: "Outfit", sans-serif;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30rem;
}

h1 {
  font-weight: 700;
  color: var(--black);
  padding: 5em 8em 0; /* top - left/right - bottom -- do this correctly again!! */
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--grayish-blue);
  padding: 2em 8em 10em; /* top - left/right - bottom -- do this correctly again!! */
}

.white-container {
  display: flex;
  background-color: var(--white);
  border-radius: 25px;
  margin: 20em 8em; /* top/bottom - left/right -- do this correctly again!! */
}

.white-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.9rem;
    margin-bottom: 2rem;
}



/* To check:
Accurate? - compare to original design files
Responsive? - check different screen sizes
Accessible? - go through checklists
*/
