<style>
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
</style>

body {
  background-color: hsl(220, 15%, 55%);
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: hsl(0, 100%, 0%);
  padding: 5em 8em 0; /* top - left/right - bottom -- do this correctly again!! */
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding: 2em 8em 10em; /* top - left/right - bottom -- do this correctly again!! */
}

.white-container {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  margin: 20em 8em; /* top/bottom - left/right -- do this correctly again!! */
}

.blue-container {
  display: flex;
  background-color: hsl(218, 44%, 22%);
  border-radius: 20px;
  margin: 4em; /* do this correctly again!! */
}

.qr-code {
  display: grid;
  
  margin: 18em; /* do this correctly again!! */
}




/* To check:
Accurate? - compare to original design files
Responsive? - check different screen sizes
Accessible? - go through checklists
*/
